/** 
    _adt.scss: Configuration of application display templates of the flussbad-theme

    Created:    2017-09-13 19:02 by Christian Berndt
    Modified:   2017-10-31 22:12 by Christian Berndt
    Version:    0.1.7
*/

@import "custom_mixins";
@import "variables";

.portlet-asset-publisher {
    
    .articles {
        
        font-size: $mobile-default-font-size;    
        margin-left: -15px;
        margin-right: -15px;
        
        .asset-metadata {
            line-height: 28px;
            vertical-align: bottom;
            margin-top: 10px;
        }
        
        .container {
            padding-top: 1em;
        }
        
        h1 {
            font-size: $mobile-h2-font-size;
            line-height: $mobile-lead-line-height;
            margin-top: 10px;       
        }
                
        .label {
            color: $default-font-color;
            font-weight: normal;
            padding-left: 0; 
            font-size: 100%;
        }
        
        .share-buttons {
            border-top: 5px solid #F5F4F0;
            padding-top: 1em !important;
            padding-bottom: 1em !important;
        }
        
        .summary {
            font-size: $mobile-lead-font-size;
            line-height: $mobile-lead-line-height;        
        }
    }
    
    .events {
    
        margin-left: -15px; 
        margin-right: -15px;
        
        .event {
        
            padding: 30px 0;
        
           .summary {
           
               font-family: $light-font-family;
               font-size: $lead-font-size;
               line-height: $lead-line-height;
           }
           
           &:nth-child(even) {
            
                background: lighten($color-sand, 5%);
                
                .asset-social-media {
                
                     border-top-color: white;
                }
            }
            
            &:nth-child(odd) {
            
                background: white;
            }
        }
        
/*         .taglib-header { */
        
/*             display: none;  */
/*         } */
                        
/*         .metadata-entry { */
        
/*             display: block; */
/*             float: none; */
/*         } */
        
        .date {
        
            margin-top: 20px; /* same as bs3 h1 */
            
            @include event-date(); 
        }
                
        .location {        
            @include event-location(); 
        }
        
        .time {
        
            padding-bottom: .55em;
                    
            .icon-time {
                            
               display: inline-block;
               margin-top: 2px;
               width: 25px;
            }
        }
    }
    
    .events-small {
    
        text-align: center;
        
        h2 {
            font-size: $lead-font-size; 
            
            &.date {
                font-family: $regular-font-family; 
                font-weight: normal;
            }      
        }
    }
        
    .statements {

        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
            
        .author {
            padding: 0 0 1em 0;
        }
                
        blockquote {
        
            text-align: center;
            border: none;
            padding: 2em 0 0 0;
            margin: 0;
            font-family: $medium-font-family;
            font-size: $lead-font-size;
            line-height: 125%;
            white-space: normal; /* Restore normal white-space behaviour */
                     
            &::before {
                content: "\201E";
            }
            
            &::after {
                content: "\201C";
            }         
        }
            
        .carousel-inner {
        
            min-height: 500px; 
            
            .item {
                            
                @include vertical-align(absolute);
            
            }
        } 
          
        &.gray-green {
        
            background-color: $color-gray-green;
            color: white;
            
            blockquote {
                background-color: $color-gray-green;
            }
                        
            .item {
            
                background-color: $color-gray-green;
                            
            }
        } 
           
        &.sand {
            background-color: $color-sand;
        }
        
        &.turquois {
            background-color: $color-turquois;
            color: white;
        }   
    } 
}

.portlet-site-map {

    .buttons {
    
        background-color: lighten($color-sand, 3%);
        margin-left: -15px; 
        margin-right: -15px;
        text-align: center;
        
        a {           
            @include filter-item(); 
        }

        a.selected {            
            @include filter-item-selected(); 
        }
        
        ul {    
         
            list-style: none;
            margin: 15px 0;
            
            li {
            
                line-height: 45px;
                margin: 0; 
                padding: 0; 
            }
        }
    }
    
    .toggle {
    
        background-color: lighten($color-sand, 3%);    
        color: $navigation-font-color;
        cursor: pointer;                     
        font-family: $regular-font-family;
        font-size: $h2-font-size;
        padding: 17.5px 25px;
        position: fixed; 
        right: 0; 
        top: $nav-height;
        z-index: 100;
        
        .toggle-button {
    
          -webkit-transition: -webkit-transform 0.2s ease-in-out;
             -moz-transition: -moz-transform 0.2s ease-in-out;
               -o-transition: -o-transform 0.2s ease-in-out;  
                  transition: 0.2s ease-in-out;
            
            @include rotate(0);             
        }      
        
        &.manually--closed .toggle-button,
        &.headroom--unpinned .toggle-button {
          -webkit-transition: -webkit-transform 0.2s ease-in-out;
             -moz-transition: -moz-transform 0.2s ease-in-out;
               -o-transition: -o-transform 0.2s ease-in-out;  
                  transition: 0.2s ease-in-out;

            @include rotate(0deg);
        }      
    }   
}
