/** 
    _mixins.scss: mixins used by the flussbad-theme

    Created:    2017-09-13 22:16 by Christian Berndt
    Modified:   2017-10-31 19:34 by Christian Berndt
    Version:    1.0.3
*/

@import "variables";

@mixin background-cover() {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}

@mixin event-date() {
    
    font-size: $h2-font-size;
    padding-bottom: 1.12em;
    padding-left: 0;
    
    &::after {
    
       content: " _";
    }    
}

@mixin event-location() {
    
    display: inline-block;
    padding-left: 25px;
            
    .icon-map-marker {
    
       display: inline-block;
       margin-left: -23px;
       width: 23px;
    }
}

@mixin filter-item() {
    
    color: $navigation-font-color;
    padding: 5px 30px;
    border: 1px solid $navigation-font-color; 
    font-size: $default-font-size;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-wide;
    margin-right: 15px;
    
    &:hover {
    
        color: $hover-font-color;
        border: 1px solid $hover-font-color;
    }
}

@mixin filter-item-selected() {
    
    border: 1px solid white; 
    background: white;
}

@mixin rotate($degree) {
    
    transform: rotate($degree);
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    -o-transform: rotate($degree);
    
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}