/** 
    _custom.scss: main config of the flussbad-theme

    Created:    2017-09-07 16:32 by Christian Berndt
    Modified:   2017-09-14 16:16 by Christian Berndt
    Version:    1.0.5
*/
/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "adt";
@import "core_portlets";
@import "fonts";
@import "navigation";
@import "templates";
@import "variables";

a {
    &:active,
    &:focus {
        outline-color: transparent ! important;
    }
}

body {
    font-size: $default-font-size;
}

.control-menu {
    .toggle-controls {
        &.visible-xs {
            display: inline-block ! important;
        }
    }
}

#footer {
    background-color: cyan;
}

.has-control-menu  {
    #wrapper {
        margin-top: 0;
    }
}

.modal {
    &.slideshow {
        display: none;
    }
}

.portlet {
    
    h2.portlet-title-text {
        display: none;
    }
}

.signed-in {
    #banner {
        margin-top: 65px;
    }
}

#wrapper {
    padding-top: 0; 
}

@import "responsive";

