/** 
    _custom.scss: main config of the flussbad-theme

    Created:    2017-09-07 16:32 by Christian Berndt
    Modified:   2017-09-18 22:25 by Christian Berndt
    Version:    1.1.0
*/
/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "adt";
@import "core_portlets";
@import "fonts";
@import "navigation";
/* responsive  is imported at the end of this file */
@import "templates";
@import "variables";

/* ----------------------------------------------- global settings */

    
a {
    
    color: $navigation-font-color;
    
    &:active,
    &:focus {
        outline-color: transparent ! important;
    }
    
    &:hover, 
    &:focus {    
        text-decoration: none;
        color: $hover-font-color;
    }
}

body {
    font-size: $default-font-size;
    font-size-adjust: $default-font-size-adjust;
}

.control-menu {
    .toggle-controls {
        &.visible-xs {
            display: inline-block ! important;
        }
    }
}

#footer {
    
    background: $color-light-gray;
    padding-bottom: 20px;
    text-align: center;
    
    .copyright {
    
        font-size: $small-font-size;
        color: $navigation-font-color;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-wide;
    }
       
    .info {
        text-align: center; 
        margin-bottom: 25px;     
    }
    
    .logos {
    
        border-top: 5px solid white;
        line-height: 120px; /* center the div's content vertically */                
        text-align: center;
        
        a {
            display: block;
            margin: 0 60px;
        }
        
        img {
        
            width: 120px;
            vertical-align: middle;
            opacity: 0.3;
            
            -webkit-filter: grayscale(100%);
            -webkit-transition: .5s ease-in-out; 
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: grayscale(100%);
            -moz-transition: .5s ease-in-out;
            -o-filter: grayscale(100%);
            -o-transition: .5s ease-in-out; 
        }
             
        img:hover {
        
            opacity: 0.8;
            
            -webkit-filter: grayscale(0%);
            -webkit-transition: .5s ease-in-out; 
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: grayscale(0%);
            -moz-transition: .5s ease-in-out;
            -o-filter: grayscale(0%);
            -o-transition: .5s ease-in-out; 
        }  
    }
        
    .portlet-site-map {
    
        display: inline;
        
        section {
        
            display: inline;
            
            .portlet-content {
            
                display: inline;
                
                .portlet-content-container {
                
                    display: inline;
                    
                    .portlet-body {
                    
                        display: inline; 
                        
                        ul {
                        
                            display: inline;
                            padding-left: 0;
                            list-style: none;
                
                            li {
                            
                                display: inline;
                                margin: 0 3px;
                            
                                > a {
                                
                                    color: $navigation-font-color; 
                                    font-size: $small-font-size;
                                    text-decoration: underline; 
                                    text-transform: uppercase;
                                    letter-spacing: $letter-spacing-wide;
                                    margin-left: 5px;                
                                    
                                    &.current {
                                        color: $active-font-color;                 
                                    }
                                    
                                    &:hover {
                                        color: $hover-font-color;
                                    }
                                }
                                
                                &::before {
                            
                                    content: "/ ";
                                    color: $navigation-font-color;
                                        
                                } 
                            } 
                        }
                    }
                }
            }             
        }
    }
    
    .share-links {
    
        font-size: 30px;
        text-align: center;
        padding: 4em 0;
    
        ul {
        
            list-style: none;
            margin: 0; 
            padding: 0;
            
            li {
        
                display: inline;
                margin: 0 15px 0 0; 
                
                a {
        
                    color: $color-light-gray;
                    
                    &:hover {
                    
                        color: $color-gray-green;
                    }
                    
                    .circle {
        
                        background: $color-gray-green;
                        border-radius: 100%;
                        text-align: center;
                        width: 60px;
                        height: 60px;
                        display: inline-block;
                        line-height: 200%;
                        
                        &:hover {                        
                            background: $color-turquois;
                        }
                        
                        span::before {
                        
                            margin-top: 14px;
                        }
                    }
                }
            }
        }  
    }
    
}

h1 {  
    font-family: $bold-font-family;
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    letter-spacing: 0.02em;             
}

h2 {   
    font-family: $bold-font-family;
    font-size: $h2-font-size;
    line-height: $h2-line-height;
}

h3 {   
    font-family: $medium-font-family;
    font-size: $h3-font-size;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-wide;
}

h1,h2,h3,h4,h5,h6,strong {    
    font-style: normal;
    font-weight: normal;
}

.has-control-menu  {
    #wrapper {
        margin-top: 0 ! important;
    }
}

.modal {
    &.slideshow {
        display: none;
    }
}

.portlet {
    
    h2.portlet-title-text {
        display: none;
    }
}

.signed-in {
    #banner {
        margin-top: 65px;
    }
}

#wrapper {
    padding-top: 0; 
}

@import "responsive";
