/** 
    _navigation.scss: main-navigation of the flussbad-theme.

    Created:    2017-03-05 23:08 by Christian Berndt
    Modified:   2018-01-17 11:59 by Christian Berndt
    Version:    1.1.2
*/

@import "variables";

#navigation {
    
    background-color: $color-turquois;    
    font-family: $bold-font-family;
    font-weight: normal;
    opacity: 0.95;
    min-height: $nav-height; 
    text-transform: uppercase;
    width: 100%;
    z-index: 11;
    
    .container {
        position: relative;
    }
    
    .nav {
    
        &.language {

            position: absolute;
            right: 50px;
            top: -1px;                       
    
            .portlet-language {
            
                .portlet-content-editable {
                    border-width: 0; 
                }
            
                .portlet-body {
        
                    a {
                    
                        color: $navigation-font-color;
                        line-height: 20px;
                        
                        &.dropdown-toggle {
                        
                            cursor: pointer;    
                            display: inline-block;                            
                            padding-bottom: 22px;
                            padding-top: 18px; 
                            padding-left: 5px; 
                            padding-right: 5px;
                                                                
                            .icon-globe {
                                font-size: $button-font-size;
                            }
                        }
                        
                        &:hover {
                            color: $hover-font-color;
                        }
                    }
                    
                    .dropdown-menu {
                    
                        background-color: $color-gray-green; 
                        border-radius: 0;
                        left: 50%;
                        right: auto;
                        text-align: center;
                        transform: translate(-50%, 0);
                        margin-top: -10px;
            
                        min-width: 90px;
                        
                        li {
                        
                            display: inline-block;
                            text-align: center;
                            
                            span {
                                color: white;
                                display: block; 
                                padding: 3px 5px; 
                                
                                &.open {
                                    
                                    a {
                                        color: $color-turquois;
                                    }
                                }                                
                                
                            } 
                            
                            > a {
                            
                                color: $color-turquois; 
                                padding: 3px 5px; 
                                
                                &:hover {
                                    background-color: transparent ! important;
                                    color: darken($color-turquois, 10%);                                
                                }
                            }  
                        }             
                    }        
                
                    > span {
                    
                        display: block; 

                        &.open {
                            
                            > a {
                                background-color: transparent ! important;
                                color: $active-font-color;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .navbar-brand {
    
        padding-bottom: 20px;        
        padding-top: 20px;  
        line-height: 20px;      
    
        .brand-name {
        
            font-family: $bold-font-family;
            font-size: $default-font-size;
            font-weight: normal;
            letter-spacing: $letter-spacing-wide;
            color: $navigation-font-color;
            text-shadow: none;
            
            &:hover {
                color: $hover-font-color;
            }
        } 
    }
  
    .navbar-nav {
    
        letter-spacing: 0.15em;
        margin: 0;
        text-transform: uppercase; 
    
        > li {
                
            > a {
            
                color: $navigation-font-color;
                display: inline-block;
                font-size: $default-font-size;
                letter-spacing: .1em;
                padding: 20px 10px; 
                word-break: normal;

                &:hover {
                    color: $hover-font-color;
                }
                            
                &.dropdown-toggle {
                    display: none;
                }
            }
            
            &.active {
                        
                a {
                    background: transparent;
                    color: $active-font-color;               
                }
            }
            
            &:nth-child(1) {
                display: none;
            }
        }
    }
    
    .navbar-toggle {
    
        border: 0;
        margin: 15px 6px 18px;
        
        &:focus {
            outline: none;
        }
    }
    
    .portlet-site-map {
    
        ul {
            padding-left: 0;
            list-style: none;

            li {
            
                > a {
                    display: block;
                    font-family: $bold-font-family;                    
                    font-size: $small-font-size;               
                    
                    &.current {
                        color: $active-font-color;                 
                    }
                }
            } 
        }  
    }
    
    &.navbar {
        border: none;
        margin-bottom: 0;
    }   
        
    &.navbar-default {
     
        .navbar-collapse {
        
            border: none;
            margin-left: -15px;
            margin-right: -15px;
            
            li > a {
                padding: 10px 0;
            }
        }
        
        .navbar-toggle {
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }
    }
}