/** 
    _navigation.scss: inofix theme's navigation 

    Created:    2017-03-05 23:08 by Christian Berndt
    Modified:   2017-08-07 19:17 by Christian Berndt
    Version:    1.0.1
*/

@import "variables";

#navigation {
    
    background-color: $color-turquois;
    text-transform: uppercase;
    
    .navbar-brand {
        font-size: 16px;
        letter-spacing: .1em;       
    }
    
    &.navbar {
        margin-bottom: 0;
    }
}