/** 
    _navigation.scss: main-navigation of the flussbad-theme.

    Created:    2017-03-05 23:08 by Christian Berndt
    Modified:   2017-09-14 15:40 by Christian Berndt
    Version:    1.0.6
*/

@import "variables";

#navigation {
    
    background-color: $color-turquois;    
    font-family: $bold-font-family;
    font-weight: normal;
    opacity: 0.95;
    text-transform: uppercase;
    width: 100%;
    z-index: 11;
    
    .navbar-brand {
    
        padding-bottom: 20px;        
        padding-top: 20px;  
        line-height: 20px;      
    
        .brand-name {
        
            font-family: $bold-font-family;
            font-size: $default-font-size;
            font-weight: normal;
            letter-spacing: $letter-spacing-wide;
            color: $navigation-font-color;
            text-shadow: none;
            
            &:hover {
                color: $hover-font-color;
            }
        } 
    }
  
    .navbar-nav {
    
        letter-spacing: 0.15em;
        margin: 0;
        text-transform: uppercase; 
    
        > li {
                
            > a {
            
                color: $navigation-font-color;
                display: inline-block;
                font-size: $default-font-size;
                padding: 20px 10px; 
                word-break: normal;

                &:hover {
                    color: $hover-font-color;
                }
            }
            
            &.active {
                        
                a {
                    background: transparent;
                    color: $active-font-color;               
                }
            }
            
            &:nth-child(1) {
                display: none;
            }
        }
    }
    
    .navbar-toggle {
    
        border: 0;
        margin: 15px 6px 18px;
        
        &:focus {
            outline: none;
        }
    }
    
    .portlet-language {
    
        .portlet-content-editable {
            border-width: 0; 
        }
    
        .portlet-body {

            a {
            
                color: $navigation-font-color;
                line-height: 20px;
                
                &.dropdown-toggle {
                    cursor: pointer;    
                    display: inline-block;                            
                    padding-bottom: 20px;
                    padding-top: 20px; 
                }
                
                &:hover {
                    color: $hover-font-color;
                }
            }
            
            .dropdown-menu {
            
                background-color: #fff; 
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                margin-top: 0;
    
                min-width: 120px;
                
                li {
                
                    text-align: center;
                    
                    span {
                        display: block; 
                        padding: 3px 20px; 
                    } 
                    
                    > a {
                        padding: 5px;
                    }  
                }             
            }
            
            .dropdown-toggle {
            
                padding-left: 15px; 
                padding-right: 15px;
                
                &:nth-child(1) {
                    padding-right: 7.5px;           
                } 
                
                &:nth-child(2) {
                    margin-left: -7.5px; 
                    padding-left: 0;           
                } 
            }        
        
            > span {
                display: block; 
                
                &.open {
                    background-color: #eeeeee;
                }
            }
        }
    }
    
    &.navbar {
        border: none;
        margin-bottom: 0;
    }   
        
    &.navbar-default {
     
        .navbar-collapse {
        
            border: none;
            margin-left: -15px;
            margin-right: -15px;
            
            li > a {
                padding: 10px 0;
            }
        }
        
        .navbar-toggle {
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }
    }
}