/** 
    _responsive.scss: responsive configuration of the flussbad-theme

    Created:    2017-09-12 19:34 by Christian Berndt
    Modified:   2017-12-29 21:38 by Christian Berndt
    Version:    0.2.7
*/



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
         
    .button {
    
        padding-bottom: 120px;
    
    }
    
    .events-small {
                
        h2 {
            display: inline-block;
            
            &.date {
                margin-right: 10px;
            }
        }
    }
        
    #footer {
    
        .boxes {
            padding-bottom: 30px;
            padding-top: 30px; 
        }
    
        .col-sm-6:nth-child(2) {
        
            border-left: 5px solid #cad3d3;
            
        }  
        
        .logos {
        
            a {
                display: inline-block ! important;
                margin: 0 30px;
            }
        }     
    }
    
    .intro {
    
        padding: 2em 0 6em;

        .keyvisual {
        
            display: block;
            height: 90vh;
            
            .claim {
            
                display: block;
                
                h1 {
                    font-size: 42px;
                }
                
            }
        }
        
        &.with-image {
            padding: 0 0 6em;
        }
    } 
    
    #navigation {
       
        .navbar-header {
            float: none;
        }
        
        .navbar-collapse {
        
            &.collapse {
                display: none ! important;
                
                &.in {
                    display: block ! important;
                    overflow-y: auto;
                }
            }
        }
        
        .navbar-nav {
            > li {
                float: none;
            }
            
            &.navbar-right {
                float: none ! important;
            }
        }
    
        .navbar-toggle {
            display: block;
            float: right;
            margin-right: 0;
        }
    }

    .portlet-asset-publisher {
        .statements {
        
            .author {
                padding: 0 8.54701%;
            }
               
            blockquote {
                font-size: $h1-font-size ! important;
                padding: 0 8.54701% 1em ! important;
            }
            
            .carousel-inner {
                min-height: 720px;
            }
        }
    }
    
    .portlet-site-map {
        .buttons {
            ul {
            
                float: left; 
                padding-left: 0; 
                
                li {
                
                    display: inline;
                    float: left; 

                }
            }       
        }
        
        .toggle {
        
            .toggle-button {
                
                @include rotate(45deg);             
            }  
        } 
    }
    
    .signed-in {
        
        #navigation {
            margin-top: 65px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    #footer {
    
        .boxes {
            padding-bottom: 120px;
            padding-top: 120px; 
        }
        
        .logos {
        
            a {
                margin: 0 60px;
            }
        } 
    
    }
    
    #navigation {
    
        .nav {
    
            &.language {
            
                display: inline-block;
                float: right;
                position: relative;
                right: auto;
                top: auto; 
                
            }
        }
    
        .navbar-collapse {
            &.collapse {
                display: block ! important;
            }
        }
        
        .navbar-header {
            float: left;
        }
         
        .navbar-nav {
        
            > li {
            
                float: left;
                
                > a {
                    &.dropdown-toggle {
                        margin-left: -20px;
                    }
                }
            }
            
            &.navbar-right {
                float: right ! important;
            }
        }
        
        .navbar-toggle {
            display: none;
        }
        
        .portlet-site-map {
        
            ul {
    
                li {
                    display: inline-block;
                    
                    a {
                        padding: 22px 10px 20px !important;
                    }
                } 
            }  
        }
    
        &.navbar-default {
            .navbar-collapse {
                li > a {
                    padding: 20px 10px;
                }
            }
        }
    }
        
    .portlet-asset-publisher {
    
        .articles {
        
            font-size: $default-font-size;    
        
            .asset-metadata {
                line-height: $h1-line-height;
            }
        
            h1 {
                font-size: $h1-font-size;
                line-height: $h1-line-height;
            }
            
            .summary {
                font-size: $lead-font-size;
                line-height: $lead-line-height;        
            }
        } 
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
