/** 
    _responsive.scss: responsive configuration of the flussbad-theme

    Created:    2017-09-12 19:34 by Christian Berndt
    Modified:   2017-09-14 16:17 by Christian Berndt
    Version:    0.1.4
*/



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .intro {
    
        .keyvisual {
        
            display: block;
            height: 90vh;
            
            .claim {
            
                display: block;
                
            }
        }
    } 
    
    #navigation {
       
        .navbar-header {
            float: none;
        }
        
        .navbar-collapse {
        
            &.collapse {
                display: none ! important;
                
                &.in {
                    display: block ! important;
                    overflow-y: auto;
                }
            }
        }
        
        .navbar-nav {
            > li {
                float: none;
            }
            
            &.navbar-right {
                float: none ! important;
            }
        }
    
        .navbar-toggle {
            display: block;
            float: right;
            margin-right: 0;
        }
    } 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    #navigation {
    
        .navbar-collapse {
            &.collapse {
                display: block ! important;
            }
        }
        
        .navbar-header {
            float: left;
        }
         
        .navbar-nav {
        
            > li {
            
                float: left;
                
                > a {
                    &.dropdown-toggle {
                        margin-left: -20px;
                    }
                }
            }
            
            &.navbar-right {
                float: right ! important;
            }
        }
        
        .navbar-toggle {
            display: none;
        }
    
        &.navbar-default {
            .navbar-collapse {
                li > a {
                    padding: 20px 10px;
                }
            }
        }
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
