/** 
    _templates.scss: css config of the wc-templates
    of the flussbad-theme.

    Created:    2017-09-07 17:21 by Christian Berndt
    Modified:   2018-02-12 01:30 by Stefan Luebbers
    Version:    1.1.1
*/

@import "custom_mixins";
@import "variables";

h3 {
    font-size: $h3-font-size;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.article {
    
    margin-left: -15px;
    margin-right: -15px;
    
    .caption {
    
        font-size: $small-font-size;
        color: $color-gray-green;
        margin-top: -1em;
        padding-bottom: 1em;
    }
    
    .content {
        padding: 20px 15px 30px;
    }
    
    h1 {
        margin-bottom: 1em;
    }
    
    .keyvisual {
        width: 100%;
        height: calc(100vh - #{$nav-height}) !important;
        overflow: hidden;
        
        @include background-cover();
    }
    
    &.with-keyvisual {
    
        > .container {
            background-color: transparent;
            margin-top: $container-push;
            position: relative; 
            z-index:2;
            
            .row {
                background-color: #fff;
                margin-left: 0; 
                margin-right: 0;
            }
        }
    }
}

.button {
    
    text-align: center; 
    margin: 0 auto; 
    padding-top: 30px;
    padding-bottom: 90px;
    
    a {
        border: 2px solid $navigation-font-color; 
        border-radius: 0;
        color: $navigation-font-color; 
        font-family: $button-font-family;
        font-size: $button-font-size; 
        font-weight: 600; 
        letter-spacing: $button-letter-spacing;
        padding: $button-padding;
        text-transform: uppercase;
        text-decoration: none;
        
        &:hover {
            color: $hover-font-color;
            border: 2px solid $hover-font-color;
        }
    }
    
    a::before {
        content: ''; 
    }    
}

.intro {
    
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 1em;
    text-align: center;
    
    .abstract {
    
        margin-bottom: 1em;
        padding: 0 15px 30px;
      
    }
    
    .btn-default {
    
        border: 2px solid $navigation-font-color; 
        border-radius: 2px;
        
        color: $navigation-font-color;
        font-size: $button-font-size;
        font-family: $button-font-family;
        font-weight: 600;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        margin-top: 1em;
        padding: 10px 30px 8px;
        width: 100%;
        
        &:focus,
        &:hover {
            color: $hover-font-color;
            border: 2px solid $hover-font-color;
        }
    }
    
    h2 {
        margin-bottom: 20px;
    }
    
    .keyvisual {
    
        height: 100vh;
        
        @include background-cover(); 
        
        .claim {
        
            @include vertical-align();

        }
    }
    
    &.sand {
    
        color: $default-font-color;
        background-color: $color-sand;
        
        .btn-default {
            background-color: transparent;
        }
        
        h2 {
            color: $color-gray-green;
        }
        
        h3 {
            color: $color-gray-green;
        } 
    }
    
    &.turquois {
        
        color: $default-font-color;
        
        .btn-default {
            border-color: transparent;
        }
        
        .abstract {
            background-clip: padding-box;
            background-color: $color-turquois;  
            -webkit-background-clip: padding;
            -moz-background-clip: padding;
            border-bottom: 13px solid transparent;
            border-image: url(../images/border-wave.png) 15 0 15 0 round;
            -webkit-border-image: url(../images/border-wave.png) 15 0 15 0 round;
            -o-border-image: url(../images/border-wave.png) 15 0 15 0 round;
            border-top: 13px solid transparent; 
        }
        .panel{
            .panel-heading {
                padding: 0px 0px;
                border-bottom: 0px solid transparent;
                border-bottom-color: transparent;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                background-color: transparent;
                border-color: transparent
            }
            .panel-body {
                padding: 0px;
            }
            .panel-footer {
                padding: 0px 0px;
                background-color: transparent;
                border-top: 0px solid #ddd;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
        
        
        h1 {
            color: white;
        } 
        
        h2 {
            color: $color-gray-green;
        }
        
        h3 {
            color: white;
        } 
    }
    
    &.with-image { 
         
        .abstracts {
            margin-top: -165px;
        }  
        
        a.club-link {
        
            position: relative;
            z-index: 9999;
            margin-bottom: -120px;
            margin-right: 15px;
            
            background: $color-orange;
            border-radius: 100%;
            text-align: center;
            width: 120px;
            height: 120px;
            display: inline-block;
            padding-top: 3px;
            line-height: 150%;
            
            span {
            
                font-family: $button-font-family;
                font-size: 48px;
                font-weight: 600; 
                line-height: 40px !important;
                text-transform: uppercase;
                color: #fff;
                padding-top: 20px;
                padding-left: -5px;
                display: block;
                
                @include rotate(-15deg);                    
            }
            
            &:hover {
               background: darken($color-orange, 5%);
            }
        }
    }
}

.introduction {
    
    margin-left: -15px;
    margin-right: -15px;
    
}
